body {
    margin : 0;
    padding : 0;
}

#navBar {
    background-color: Red;
}

navLeft{
    background-color: green;
    display: flex;
}

navLeft ul a {
text-decoration:  none;
display: block;
}

navRight{
    background-color: blue;
    display: flex;
}