body {
    margin : 0;
    padding : 0;
}

#navBar {
    background-color: Red;
}

.navLinks {
    list-style: none;
    margin : 0;
    display : flex;
    padding : 0;
}

.navLinks a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px;
    text-align: center;
    font-size: 15px;

}

.navLinks a:hover {
    background-color: black; 
}

#navLeft{
   display: flex;
    
}



#navRight{
    display: flex;
    justify-content: flex-end;
}

